In [305]:
import pandas as pd

In [306]:
pd.__version__

'2.1.4'

In [307]:
df_initial = pd.read_csv('./green_tripdata_2019-09.csv')
df_initial.shape

C:\Users\veit\AppData\Local\Temp\ipykernel_6780\3184257060.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_initial = pd.read_csv('./green_tripdata_2019-09.csv')

(449063, 20)

In [308]:
df_initial.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df_initial.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [309]:
from sqlalchemy import create_engine

In [310]:
engine = create_engine('postgresql://root:root@127.0.0.1:5432/ny_taxi')

In [311]:
print(pd.io.sql.get_schema(df_initial, name='yello_taxi_data', con=engine))

CREATE TABLE yello_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag FLOAT(53),
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [312]:
df_iter = pd.read_csv('./green_tripdata_2019-09.csv', iterator=True, chunksize=100000, low_memory=False)

In [313]:
df = next(df_iter)

In [314]:
len(df)

100000

In [315]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [316]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-09-08 21:34:31,2019-09-08 21:42:44,N,1,74,151,1,2.12,8.5,0.5,0.5,2.45,0.0,NaN,0.3,12.25,1,1,0.0
99996,2,2019-09-08 21:06:54,2019-09-08 21:12:38,N,1,130,28,1,0.83,5.5,0.5,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
99997,2,2019-09-08 21:22:10,2019-09-08 21:29:33,N,1,130,10,1,2.56,9.5,0.5,0.5,2.00,0.0,NaN,0.3,12.80,1,1,0.0
99998,2,2019-09-08 21:33:42,2019-09-08 21:33:48,N,5,92,92,1,0.13,22.0,0.0,0.0,0.00,0.0,NaN,0.0,22.00,1,2,0.0
99999,2,2019-09-08 21:29:16,2019-09-08 21:36:45,N,1,7,7,1,1.09,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2,1,0.0

In [317]:
df.head(n=0).to_sql(name='green_tripdata', con=engine, if_exists='replace')

0

In [318]:
df.to_sql(name='green_tripdata', con=engine, if_exists='replace')

1000

In [319]:
from time import time

In [320]:
while True:
    t_start = time()
    
    try:
        df = next(df_iter)
        
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

        %time df.to_sql(name='green_tripdata', con=engine, if_exists='append')

        t_end = time()
        print('inserted another chunck..., took %.3f second' %(t_end - t_start))
    except StopIteration:
        query = 'select COUNT(1) from green_tripdata;'
        rows_in_table = pd.read_sql(query, con=engine)
        if (rows_in_table.iloc[0].iloc[0] == df_initial.shape[0]):
            print('Loaded All Data Successfully')

        break

CPU times: total: 4.06 s
Wall time: 11.2 s
inserted another chunck..., took 11.569 second
CPU times: total: 3.69 s
Wall time: 12 s
inserted another chunck..., took 12.400 second
CPU times: total: 2.92 s
Wall time: 11.3 s
inserted another chunck..., took 11.809 second
CPU times: total: 1.8 s
Wall time: 5.28 s
inserted another chunck..., took 5.451 second
Loaded All Data Successfully